@{
    ViewData["Title"] = "Expenses";
}

@model List<Expense>

<div class="text-center mt-5 pt-5">
    <h1 class="display-4">Expenses</h1>
    <h3>Total Expenses: @ViewBag.Expenses€</h3>
    <hr />

    <div class="container mt-4">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var expense in Model)
                    {
                        <tr>
                            <th scope="row">@expense.Id</th>
                            <td>@expense.Amount</td>
                            <td>@expense.Description</td>
                            <td>
                                <a asp-controller="Expenses" asp-action="Details" asp-route-id="@expense.Id">Details</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                                {
                                    <a asp-controller="Expenses" asp-action="Edit" asp-route-id="@expense.Id">Edit</a>
                                }
                                <a asp-controller="Expenses" asp-action="Delete" asp-route-id="@expense.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    
    <br />
    <a class="btn btn-primary" asp-controller="Expenses" asp-action="Create">Create Expense</a>
</div>
