@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ExpensesPlanner</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized Context="auth">
                        <br />
                        <!-- User Image Profile and Name -->
                        <div class="nav-item px-3 d-flex flex-column align-items-center">
                            <RadzenImage Path="@profilePictureUrl" Style="width: 80px; height: 80px; border-radius: 40%" AlternateText=@auth.User.Identity?.Name />
                    
                            <RadzenLabel class="text-white mt-2" Text=@($"Welcome, {auth.User.Identity?.Name}")></RadzenLabel>
                            <br /><br />
                        </div>
                    </Authorized>
                </AuthorizeView>
            </CascadingAuthenticationState>

        <!-- Home -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" Style="margin-right: 8px; " /> <span aria-hidden="true">Home</span>
            </NavLink>
        </div>

        <!-- Expenses -->
        <div class="nav-item px-3 no-uppercase">
            <RadzenButton Icon="receipt" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text"
                          class=@GetButtonClass(PagesRoutes.AllExpenses) Text="Expenses" Click="@(() => GoToExpenses())" />
        </div>

        <!-- Simulator -->
        <div class="nav-item px-3 no-uppercase">
            <RadzenButton Icon="home" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text"
                          class=@GetButtonClass(PagesRoutes.AllExpenses) Text="Simulator" Click="@(() => GoToSimulator())" />
        </div>

        <!-- All Users -->
        <div class="nav-item px-3 no-uppercase">
            <RadzenButton Icon="group" ButtonStyle="ButtonStyle.Light" Variant="Variant.Text"
                          class="nav-link" Text="All Users" Click="@(() => GoToAllUsers())" />
        </div>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <!-- Logout -->
                    <div class="nav-item px-3 no-uppercase"> 
                        <RadzenButton Icon="logout" class="nav-link" Text="Logout" ButtonStyle="ButtonStyle.Light" 
                            Variant="Variant.Text" Click="@(() => Logout())" />
                    </div>
                </Authorized>
                
                <NotAuthorized>
                    <!-- Login -->
                    <div class="nav-item px-3 no-uppercase">
                        <RadzenButton Icon="login" class="nav-link" Text="Login" ButtonStyle="ButtonStyle.Light" 
                            Variant="Variant.Text" Click="@(() => OpenLoginPopup())" />
                    </div>

                    <!-- Register -->
                    <div class="nav-item px-3 no-uppercase">
                        <RadzenButton Icon="person_add" ButtonStyle="ButtonStyle.Light" class="nav-link" Text="Register"
                            Variant="Variant.Text" Click="(() => Navigation.NavigateTo(PagesRoutes.RegisterUser))" />
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>


