@attribute [Route(PagesRoutes.AllExpenses)]
@using ExpensesPlanner.Client.Models
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<PageTitle>Expenses</PageTitle>

<h3>Expenses</h3>
<RadzenButton Icon="add_circle" Text="Create Expense" Click="@(() => Navigation.NavigateTo(PagesRoutes.CreateExpense))" ButtonStyle="ButtonStyle.Success" />
<br />
<br />

@if (AllExpenses == null)
{
    <em>Loading...</em>
}

else
{
    <!-- Filter Category -->
    <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" class="mt-3">
        <RadzenColumn>
            <div class="d-flex align-items-center gap-2">
                <RadzenLabel Text="Category" Component="Category" class="font-bold" />
                <RadzenDropDown TValue="string" @bind-Value="@filteredCategory" Data="@Categories" Placeholder="Filter category"  Name="Category" Style="width: 30%;" />
                            @* Change="@(args => OnFilterChanged((string)args))" *@
            </div>
        </RadzenColumn>



        <RadzenColumn class="d-flex justify-content-end me-5">
            <span class="me-1">Total Amount: </span>
            <b> @TotalAmount.ToString("C", new System.Globalization.CultureInfo("de-DE"))</b>
        </RadzenColumn>
    </RadzenRow>
    <br />

    <RadzenDataGrid AllowFiltering="false" AllowColumnResize="false" AllowAlternatingRows="false" header FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@FilteredExpenses" TItem="Expense" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedExpense>
        <Columns>            
            <RadzenDataGridColumn Title="Description" Frozen="true" Width="150px" HeaderCssClass="font-bold">
                <Template Context="expense">
                    @expense.Description
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Amount" Title="Amount" Width="150px" HeaderCssClass="font-bold" >
                <Template Context="expense">
                    @(expense.Amount.ToString("C", new System.Globalization.CultureInfo("de-DE")))
               </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="Category" Title="Category" Width="150px" HeaderCssClass="font-bold">                
                <Template Context="expense">
                    <div class="d-flex align-items-center">
                        <RadzenIcon Icon="@GetIcon(expense.Category)" class="me-2"/>
                    <span>@expense.Category</span>
                    </div>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Property="CreationDate" Title="Date" Width="150px" HeaderCssClass="font-bold">
                <Template Context="expense">
                    @expense.CreationDate.ToString("dd/MM/yyyy")
               </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Title="Options" Width="160px" HeaderCssClass="font-bold">
                <Template Context="expense">
                    <!-- <RadzenButton Icon="search" Title="Details" Click="@(() => OpenExpenseDetails(expense.Id))" ButtonStyle="ButtonStyle.Success" /> -->
                    <RadzenButton Icon="settings" Title="Edit" Click="@(() => OpenUpdateExpenseDialog(expense.Id))" ButtonStyle="ButtonStyle.Warning" />
                <RadzenButton Icon="delete_forever" Title="Delete user forever" Click="@(() => OpenDeleteExpenseDialog(expense.Id))" Shade="Shade.Darker" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Danger" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <RadzenStack Style="width: 100%; max-width: 600px; margin-top: 50px">
        <RadzenChart> @* SeriesClick=@OnSeriesClick *@            
                <RadzenPieSeries Data="@AllExpenses" Title="Expenses" CategoryProperty="Category" ValueProperty="Amount" >
                <RadzenSeriesDataLabels Visible="true" />
            </RadzenPieSeries>
            <RadzenValueAxis Formatter="@(value => $"{value:F2}€")" />
        </RadzenChart>
    </RadzenStack>

    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Style="margin-top: 50px; margin-bottom: 50px;">        
        <RadzenChart Style="width:100%">
            @foreach (var category in dataByCategory.Keys)
            {
                <RadzenStackedColumnSeries Data="@dataByCategory[category]" CategoryProperty="Month" Title="@category" ValueProperty="TotalAmount">
                    <RadzenSeriesDataLabels Visible="false" />
                </RadzenStackedColumnSeries>

                <RadzenColumnOptions Radius="5" />
                <RadzenCategoryAxis Padding="20" />
                <RadzenValueAxis Formatter="@FormatAsEUR">
                    <RadzenGridLines Visible="true" />
                <RadzenAxisTitle Text="Amount in EUR" />
            </RadzenValueAxis>
            }
        </RadzenChart>
    </RadzenStack>
}
